
<h1 class= "text-center">Ingrese Productos EJS</h1>
<form action="/api/productos" method="post" class="container-fluid">
    <div class="form-group  d-flex flex-column align-items-center w-50 p-10 text-center justify-content-center">
        <input type="text" name="name" placeholder="Ingrese Nombre" required class="form-control mb-3  shadow-lg">
        <input type="number" name="price" placeholder="Ingrese Precio" required class="form-control mb-3  shadow-lg">
        <input type="url" name="url" placeholder="Ingrese Url" required class="form-control mb-3  shadow-lg">
        <button type="submit"class="btn btn-primary">Ingresar Producto</button>
    </div>
    
</form> 

    
