<h2 class="mt-5">Listado de Productos EJS</h2>
<%  if (producto.length > 0) { %>
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <% for(element of producto) { %>
                <tr>
                    <td><%= element.nombre %></td>
                    <td><%= element.precio %></td>
                    <td><img src="<%= element.url %>" alt="foto" width="50" height="50"></td>
                </tr>
            };%>
           
        </tbody>
    <% } else{ %>
       
        <% <h3>No hay productos</h3> %>
    } %>
 